<h2>My Heroes</h2>
<ul class="heroes" style="float:left">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero" style="float:right 50%">

  <h2 style="position: relative; top: 5px">{{selectedHero.name | uppercase}}</h2>
  <div><span>Id: </span>{{selectedHero.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>   
  
  </div>

  <div>
    Image:    
    <br>
    <span><img [src]="selectedHero.imageUrl" width="200px" height="200px" alt="hero"></span>
  </div>
</div>

